@media screen and (max-width: 480px) {
    .portada img{
        width: 100%;
         height: 45vh; 
     }

     header .imagenheader{
         display: none;
     }

     .portada .correo{
         display: none;
     };
  }
  @media screen and (min-width: 481px) {

  }