/*Aquí inicia la sección de portad*/
.portada img{
   width: 100%;
    height: 90vh; 
}

.imagenPortada{
position: relative;
display: flex;
justify-content: center;
}

.textoPortada{
    bottom: 20px;
    position: absolute;
    text-align: center;

}

